services:
  nginx:
    image: nginx:1.27-alpine
    container_name: rcon-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rcon-backendtable
    ports:
      - "3000:3000" 
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: rcon-frontend
    expose:
      - "4173"
    env_file:
      - .env
    restart: unless-stopped
