services:
  rcon:
    image: ghcr.io/xymox72/rcon:latest
    container_name: rcon-prod

    ports:
      - "80:80"

    env_file:
      - .env

    environment:
      - RCON_DOMAIN=yourdomain.com

    volumes:
      - .env:/app/.env:ro
