services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rcon-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: rcon-frontend
    ports:
      - "3001:4173"
    env_file:
      - .env
    depends_on:
      - backend
    restart: unless-stopped
