##########################
# 🕹️  CS2-Сервер
##########################

SRCDS_TOKEN=dsadasdsa        # 🔐 Steam GSLT токен для запуска CS2-сервера
CS2_SERVERNAME=server        # 🏷️ Название сервера
CS2_STARTMAP=de_mirage       # 🗺️ Карта, которая запускается первой
CS2_GAMEMODE=1               # 🎮 Игровой режим (например, 1 = обычный)
CS2_GAMETYPE=0               # 🕹️ Тип игры (например, 0 = классический)
CS2_LAN=0                    # 🌍 LAN-режим (1 = включить LAN, 0 = интернет)
CS2_MAXPLAYERS=10            # 👥 Максимум игроков
TV_ENABLE=0                  # 📺 Включить GOTV (1 = да, 0 = нет)
CS2_LOG=on                   # 📝 Включить логирование (on/off)
CS2_RCONPW=password          # 🔑 RCON-пароль для удалённого управления сервером
CS2_PW=0000                  # 🔒 Пароль для входа на сервер (опционально)
CS2_RCON_PORT=27050          # 📡 Порт для RCON-соединения

CS2_ADDITIONAL_ARGS="+ip 0.0.0.0 -usercon" # ➕ Дополнительные аргументы запуска сервера

##########################
# 🔐 Аутентификация
##########################

AUTH_TOKEN=1111              # 🔑 JWT токен для доступа к API (используется фронтом)

##########################
# 🌐 Backend (Rust-сервер)
##########################

PORT=3000                    # 🌐 Порт backend внутри контейнера
HOST=0.0.0.0                 # 🖥️ Хост backend внутри контейнера

##########################
# 🎨 Frontend (Vue-интерфейс)
##########################

FRONT_PORT=3001              # 🌐 Порт frontend (используется при dev-сценариях)
FRONT_HOST=127.0.0.1         # 🖥️ Хост frontend (используется при dev-сценариях)

##########################
# 🔐 Шифрование паролей
##########################

ENCRYPTION_KEY=12345678901234567890123456789012  # 🔒 Ключ (32 символа)

##########################
# 🌍 Traefik
##########################

RCON_DOMAIN=yourdomain.com   # 🌐 Домен для доступа к приложению
TRAEFIK_ACME_EMAIL=admin@yourdomain.com  # 📮 Email для Let's Encrypt

COMPOSE_BAKE=true
