services:
  rcon:
    image: ghcr.io/xymox72/rcon:latest
    container_name: rcon

    ports:
      - "80:80"
      - "8443:8443"

    env_file:
      - .env

    environment:
      - RCON_DOMAIN=yourdomain.com

    volumes:
      - .env:/app/.env:ro
      - ./certs:/etc/nginx/certs:ro
